<!doctype html>
<html lang="en" class="dark">
  <head>
    <!-- Charset -->
    <meta charset="UTF-8" />

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Default Title -->
    <title>Maitsys | IT Solutions and Digital Transformation Company</title>
    <!-- Default Meta Description -->
    <meta
      name="description"
      content="Maitsys is an innovative global IT solutions provider with expertise in SAP implementation, cloud migration, and enterprise IT infrastructure support."
    />
    <meta
      name="keywords"
      content="global IT solutions provider, IT solutions company, SAP implementation services, cloud migration services, IT infrastructure support, enterprise IT services, cloud migration consulting, AWS cloud services, Azure cloud solutions, GCP cloud services, Oracle cloud solutions, digital transformation services, managed IT services, SAP implementation, enterprise"
    />

    <link rel="preload" as="image" href="/logo.png" />
    <link rel="preload" as="image" href="/maitsysWhite.png" />

    <!-- Robots -->
    <meta name="robots" content="index, follow" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" />

    <!-- PNG favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!--Profile -->

    <meta property="profile:first_name" content="Mani" />
    <meta property="profile:last_name" content="Pandi" />

    <!------------------------->
    <link
      rel="preload"
      href="/fonts/PlusJakartaSans-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Maitsys",
        "url": "<%= VITE_SITE_URL %>",
        "logo": "<%= VITE_SITE_URL %>/logo.png",
        "description": "Maitsys is an innovative global IT solutions provider with expertise in SAP implementation, cloud migration, and enterprise IT infrastructure support.",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+1-9784722177",
          "contactType": "customer support"
        },
        "sameAs": [
          "https://www.linkedin.com/company/maitsys",
          "https://www.youtube.com/@Maitsys",
          "https://www.instagram.com/maitsys",
          "https://www.facebook.com/people/Maitsys/100093011730822/"
        ]
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Maitsys",
        "url": "<%= VITE_SITE_URL %>",
        "publisher": {
          "@type": "Organization",
          "name": "Maitsys",
          "url": "<%= VITE_SITE_URL %>"
        },
        "inLanguage": "en-US"
      }
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-XQJS6TKKNS"
    ></script>
    <script>
      globalThis.dataLayer = globalThis.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-XQJS6TKKNS");
    </script>
    <!-- ZoomInfo Script Installation Code -->
    <script>
      window[
        (function (_p25, _hI) {
          var _mJKSq = "";
          for (var _GTcDRj = 0; _GTcDRj < _p25.length; _GTcDRj++) {
            var _hd9s = _p25[_GTcDRj].charCodeAt();
            _hd9s -= _hI;
            _mJKSq == _mJKSq;
            _hd9s += 61;
            _hd9s %= 94;
            _hI > 1;
            _hd9s != _GTcDRj;
            _hd9s += 33;
            _mJKSq += String.fromCharCode(_hd9s);
          }
          return _mJKSq;
        })(atob("a1phJSJ7dnQnXHYs"), 17)
      ] = "a8a6a160811725889572";
      var zi = document.createElement("script");
      ((zi.type = "text/javascript"),
        (zi.async = true),
        (zi.src = (function (_I2w, _az) {
          var _1DMP2 = "";
          for (var _Oxfoyu = 0; _Oxfoyu < _I2w.length; _Oxfoyu++) {
            var _gowW = _I2w[_Oxfoyu].charCodeAt();
            _1DMP2 == _1DMP2;
            _gowW -= _az;
            _gowW += 61;
            _gowW != _Oxfoyu;
            _az > 1;
            _gowW %= 94;
            _gowW += 33;
            _1DMP2 += String.fromCharCode(_gowW);
          }
          return _1DMP2;
        })(atob("eigoJCdMQUF8J0Auez8ndSZ7JCgnQHUjIUEuez8oc3lAfCc="), 18)),
        document.readyState === "complete"
          ? document.body.appendChild(zi)
          : window.addEventListener("load", function () {
              document.body.appendChild(zi);
            }));
    </script>
  </head>

  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
